html .book-home-page {
  background-color: saddlebrown;
}

.book-section {
  margin-bottom: 50px;
}

.book-header {
  font-size: 35px;
  color: rgb(116, 59, 18);
}

.bookcase {
  display: grid;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.bookcase a {
  color: inherit !important;
  text-decoration: inherit;
}

.shelf {
  border-bottom: 5px black solid;
  margin-bottom: 10px !important;
  text-align: center;
}

.book {
  background-color: white;
  border: black 1px solid;
  padding: 10px 0px 56px 0px !important;
  width: 55px;
  margin: 0 !important;
  cursor: pointer;
  color: black;
}

.book:hover {
  background-color: brown !important;
  color: white !important;
}

.book-title {
  text-align: center;
  hyphens: auto;
}

.book-author {
  text-align: center;
  margin-top: 10px;
  hyphens: auto;
  font-size: 0.8rem;
}

.colored-book-list .ethics {
  background-color: lightcoral;
  opacity: 0.8;
}

.colored-book-list .history {
  background-color: lightgoldenrodyellow;
  opacity: 0.8;
}

.colored-book-list .fiction {
  background-color: lightskyblue;
  opacity: 0.8;
}

.colored-book-list .nonfiction {
  background-color: lightgrey;
  opacity: 0.8;
}

.colored-book-list .biology {
  background-color: lightgreen;
  opacity: 0.8;
}

.colored-book-list .psycology {
  background-color: lightseagreen;
  opacity: 0.8;
}