.entry {
  text-align: center;
  font-size: 2rem !important;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entry-header {
  cursor: pointer;
  padding: 10%;
}

#login-form {
  font-size: 1.5rem;
}

body.entry-page {
  background-color: #282c34;
  color: white;
  padding: 0;
}
