.entry {
  text-align: center;
  font-size: 2rem !important;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}

.entry-header {
  cursor: pointer;
  padding: 15rem;
}
