.top-nav {
  margin-bottom: 100px;
}

#dark-overlay.visible {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 900;
  transition: background-color 0.5s linear;
}

/* Helper */
.helper {
  position: fixed !important;
  top: 10%;
  right: 20%;
  z-index: 100;
}

.helper input {
  border-radius: 0.25rem !important;
  background: rgb(0, 0, 0) !important;
  opacity: 0.85;
  color: white !important;
  font-size: 18px;
  width: 30rem;
  padding: 0 0.5em !important;
  font-size: 2em;
  line-height: 2em !important;
}

.helper input:focus {
  border-color: inherit !important;
}

.helper .results {
  width: 100% !important;
  margin-top: 0 !important;
  border: none !important;
}

.tool-tip {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.result-icon, .result-title {
  display: inline-flex;
  padding-right: 1em;
}

.result-title {
  display: inline-flex
}

/* Top Menu */
.top-nav-menu {
  background-color: #fafafa;
}

.left-nav {
  width: 50%;
}

.right-nav {
  width: 50%;
}

.right-nav .input {
  height: 100%
}

/* Side Menu */
.side-nav {
  z-index: 999 !important;
}

.activeNavLink {
  border-right: solid !important;
}

.side-nav .item {
  font-size: 16px !important;
}

/* Available Shortcuts */
.available-shortcuts {
  list-style-type: none;
}
