.top-nav {
  margin-bottom: 100px;
}

/* Helper */
.helper {
  position: fixed !important;
  top: 100px;
  right: 30px;
  z-index: 100;
}

.helper input {
  border-radius: 0.25rem !important;
  background: black !important;
  opacity: 0.95;
  color: white !important;
  font-size: 18px;
  max-width: 200px;;
}

.helper input:focus {
  border-color: inherit !important;
}

.helper .results {
  max-width: 200px !important;
}

/* Top Menu */
.top-navigation-menu {
  background-color: #fafafa;
}

.left-nav {
  width: 50%;
}

.right-nav {
  width: 50%;
}

.right-nav .input {
  height: 100%
}

.tool-tip {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/* Side Menu */
.activeNavLink {
  border-right: solid !important;
}

.side-nav .item {
  font-size: 16px !important;
}

/* Available Shortcuts */
.available-shortcuts {
  list-style-type: none;
}