/* Common */
.date-column {
  width: 25% !important;
}

.text-column {
  width: 75% !important;
}

/* Home */
.question-list {
  list-style: none;
  padding: 0;
  color: #4183c4;
}

.question-list-item {
  padding-bottom: 1rem;
}

.home-section {
  margin-top: 50px;
}

.create-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.year-section {
  margin-bottom: 50px;
}
