/* Common */
.grid-column {
  box-shadow: none !important;
}

.question-header {
  font-size: 16px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.219);
  line-height: 25px;
  transition: border-bottom 5s linear;
}

.column {
  box-shadow: none !important;
}

.date {
  width: 25% !important;
}

.text {
  width: 75% !important;
}

/* Home */
.question-list {
  list-style: none;
  padding: 0;
}

.question-list-item {
  padding-bottom: 2rem;
}

.home-section {
  margin-bottom: 50px;
}

.create-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.year-section {
  margin-bottom: 50px;
}
