/* Common */

.question-page {
  margin-bottom: 100px;
}

/* Home */
.question-link {
  box-shadow: none !important;
}

.question-header {
  font-size: 35px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.219);
  line-height: 25px;
  transition: border-bottom 5s linear;
}

.question-section {
  margin-bottom: 50px !important;
}

.create-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
}

.notebook {
  /* background: rgba(219, 188, 148, 0.1) !important; */
  background: rgba(179, 179, 179, 0.1) !important;
  min-height: 500px;
}

/* Archive */

.year-section {
  margin-bottom: 50px;
}


.column {
  box-shadow: none !important;
}

.date {
  width: 25% !important;
}

.text {
  width: 75% !important;
}
